@font-face {
    font-family: Plain-light;
    src: url(plain-light-webfont.ttf);
 
}

@font-face {
    font-family: Silk-Serif;
    src: url(silkserif-regularitalic-webfont.ttf);
    
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plain-light";
    color: #fff;
}

html, body {
    height: 100%;
    width: 100%;
    cursor: none;
}

:root{

    /* background Colors */
    --background-color:#151515;
    --background-reload-color:#030303;
    --background-main-color:#030303;
    --background-div-color:#3F7DF4;

     /* Text Colors */

    --text-primary-color:#FFFFFF;
    
      /* border Colors */
    --border-primary-color:#ffffffd3;

    /* Cursor Colors */
     
    --cursor-primary-color:#FFA63D;
}

#crsr{
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    position: fixed;
    z-index: 999;
    border: 2px solid var(--border-primary-color);
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);

}

#loader{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color:var(--background-reload-color);
    z-index: 9999;
    padding: 25vh 10vw;
}

#line-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vw;
}

#line-part1 h5,#line-part1 h6{
    font-size: 3vw;
    font-weight: 300;
    font-family: "Silk-Serif";
}

#line-part1 h5{
    width: 5vw;
    text-align: right;
    /* background-color: red; */

}

.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-self: flex-start;
    gap: 2.5vw;
}

.line h1{
    font-size:6.5vw;
    text-transform: uppercase;
    font-weight: 900;

}

.line h2{
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 800;
    opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}



@keyframes anime{
    0%{
        font-family: "Plain-light";
        -webkit-text-stroke: 1px var(--text-primary-color);
        color:var(--text-primary-color);
        font-weight: 500;
        opacity: 1;
    }
     47%{
        font-family: "Plain-light";
        -webkit-text-stroke: 1px var(--text-primary-color);
        color:var(--text-primary-color);
        font-weight: 500;
        opacity: 0;
    }
     50%{
        font-family: "Silk-Serif";
        -webkit-text-stroke: 1px var(--text-primary-color);
        color:transparent;
        font-weight: 500;
        opacity: 1;
    }
     110%{
        font-family: "Silk-Serif";
        -webkit-text-stroke: 1px var(--text-primary-color);
        color:transparent;
        font-weight: 500;
        opacity: 0;
    }
}

#main{
    position: relative;
    background-color:var(--background-color)
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: var(--background-color);
    
}

#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.4vw 5.5vw;
}

#nav #nav-part2{
    display: flex;
    align-items: center;
    gap: 3vw;
}

#nav #nav-part2 h4{
    font-size: 1vw;
    font-weight: 500;
}
.hero{
    /* background-color: red; */
    height: fit-content;
    width: 77%;
    margin-left: 23%;
    overflow: hidden;
    display: flex;
    align-items: center;
    z-index: 9999;
    position: relative;
}
.hero:nth-child(2){
    margin-top: 15vh;
}
.hero h1{
    font-size: 7.2vw;
    text-transform: uppercase;
    line-height: 7.3vw;
    font-weight: 600;

}

.hero h2{
    font-size: 7.2vw;
    text-transform: uppercase;
    line-height: 7.3vw;
    font-weight: 600;
    border-bottom: 0.5vw solid var(--text-primary-color);
    padding-bottom: 0.6vw;
    transition: border-bottom 0.3s ease, color 0.3s ease, font-weight 0.3s ease;

}

.hero h2:hover{
    -webkit-text-stroke: 2px var(--text-primary-color);
    color:transparent;
    font-weight: 500;
    border-bottom: 0.5vw solid #ffffff00;

}

#page2{
    height: 100vh;
    width: 100%;
    background-color: var(--background-color);
    padding-top: 18vh;
    position:relative;
}




#video-container{
height: 66vh;
width: 72vw;
position: relative;
left: 27%; 
background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
   
}

#video-cursor{
    background-color:var(--cursor-primary-color);
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    position: absolute;
    top:-10%;
    left:70%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

#video-cursor i{
    font-size: 3vw;
   
}

#video-container img{
    position: absolute;
    height: 100%;
    width: 100%;
     object-fit: cover;
     top:0;
     z-index: 1;
   
}
#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #333232;
}

#page4{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: var(--background-color);
    padding-top: 5vh;
}
#page4-content{
    width:70vw;
    margin-left: 29%;
    position: relative;
}
#page4-content h1{
    font-size: 7vw;
    text-transform: uppercase;
    
}

#page4-content .underline{
    height: 1.4px;
    width: 100%;
    background-color: var(--text-primary-color);
    margin: 5vw 0;
}

#page4-content>p{
    font-size: 2.1vw;
    width: 50%;
    margin-bottom: 5vw;
}

#page4-flex{
    display: flex;
}
#page4-flex img{
    width: 48%;
}

#page4-flex p{
    font-size: 1.0vw;
    width: 20%;
    margin-left: 2vw;
    
}
#blue-div{
    background-color:var(--background-div-color);
    width: 33vw;
    padding: 3vw;
    position: relative;
    margin-top: -28vh;
    margin-left: 24vw;
}
.blue-div-elem{
    padding: 2vw 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 2px solid var(--border-primary-color);
}

.blue-div-elem h4{
    font-size: 1.5vw;
    font-weight: 500;

}

.blue-div-elem p{
    font-size: 1vw;
    width: 40%;
}


#page5{
    min-height: 100vh;
    width: 100%;
    background-color: var(--background-color);
    padding:5vw 0 ;
}

.elem{
    overflow-x: hidden;
    white-space: nowrap;
    margin-bottom: -2vw;

}
.elem2{
    overflow-x: hidden;
    white-space: nowrap;
  margin-bottom: -2vw;
}

#page5 .elem h1{
 font-size: 7vw;
 -webkit-text-stroke: 1px var(--text-primary-color);
 color: transparent;
 text-transform: uppercase;
 font-weight: 100;
 display: inline-block;
 /* background-color: red; */
 margin-right: 16px;
 animation-name: anime;
 animation-duration: 12s;
 animation-timing-function: linear;
 animation-iteration-count: infinite;
    }

    #page5 .elem2 h1{
 font-size: 7vw;
 -webkit-text-stroke: 1px var(--text-primary-color);
 color: transparent;
 text-transform: uppercase;
 font-weight: 100;

 display: inline-block;
 /* background-color: red; */
 margin-right: 16px;
 transform: translateX(calc(-100% - 20px));
 animation-name: anime;
 animation-duration: 12s;
 animation-timing-function: linear;
 animation-iteration-count: infinite;
 animation-direction: reverse;
    }



@keyframes anime{
from{
transform: translateX(0);
}
to{
   transform: translateX(calc(-100% - 20px));
}
}    

.elem span{
    font-style: italic;
    font-family: "Silk-Serif";
    color: transparent;
}

.elem2 span{
    font-style: italic;
    font-family: "Silk-Serif";
    color: transparent;
}