*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plain Light";
    color: #fff;
}

html, body {
    height: 100%;
    width: 100%;
}

:root{

    /* background Colors */
    --background-color:#151515;
    --background-reload-color:#030303;
    --background-main-color:#030303;

     /* Text Colors */

    --text-primary-color:#FFFFFF;
}

#loader{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color:var(--background-reload-color);
    z-index: 9999;
    padding: 25vh 10vw;
}

#line-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vw;
}

#line-part1 h5,#line-part1 h6{
    font-size: 3vw;
    font-weight: 300;
    font-family: 'silk serif';
}

#line-part1 h5{
    width: 5vw;
    text-align: right;
    /* background-color: red; */

}

.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-self: flex-start;
    gap: 2.5vw;
}

.line h1{
    font-size:6.5vw;
    text-transform: uppercase;
    font-weight: 900;

}

.line h2{
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 800;
    opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}



@keyframes anime{
    0%{
        font-family: "Plain Light";
        -webkit-text-stroke: 1px var(--text-primary-color);
        color:var(--text-primary-color);
        font-weight: 500;
        opacity: 1;
    }
     47%{
        font-family: "Plain Light";
        -webkit-text-stroke: 1px var(--text-primary-color);
        color:var(--text-primary-color);
        font-weight: 500;
        opacity: 0;
    }
     50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px var(--text-primary-color);
        color:transparent;
        font-weight: 500;
        opacity: 1;
    }
     110%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px var(--text-primary-color);
        color:transparent;
        font-weight: 500;
        opacity: 0;
    }
}

#main{
    position: relative;
    background-color: var(--background-main-color);
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: var(--background-color);
}

